<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="/products/<%=foundProduct.id%>">
        <label for="name">Title:-</label>
        <input id="name" name="name" value=<%=foundProduct.name%>>

        <label for="price">Title:-</label>
        <input id="price" name="price" value=<%=foundProduct.price%>>

       

        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>" <%=foundProduct.category===category ? 'selected': '' %> ><%=category%></option>
           <% } %>
        </select>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>